@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.header {
    background-image: url("../images/head.png");
    background-size: cover;
    background-position: center;
    padding: 5% 20%;
    text-align: center;
}

body {
    margin: 0;
}

.link {
    transition: .5s ease;
    text-decoration: none;
}

.link:hover {
    transform: scale(1.5);
    filter: blur(5px);
    cursor: pointer;
}

.text {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.descr-text {
    text-transform: none;
    color: #787b80;
    line-height: 2;
    font-size: 14px;
}

.white-text {
    color: white;
}

.grey-text {
    color: #40474e;
    font-weight: bold;
    margin: 5% 0;
    font-size: 16px;
}

.nav-bar .white-text {
    margin: 0 2%;
    font-size: 13px;
    font-weight: bold;
}

.nav-bar {
    margin: 5% 0;
}

.head-title {
    font-size: 53px;
    font-weight: bold;
}

.head-separator {
    font-size: 15px;
    font-weight: bold;
    margin: 5% 0;
}

.head-separator:before, .head-separator:after {
    content: "";
    border-top: 1px solid white;
    width: 10%; /*//todo*/
    margin: 0 5%;
    transform: translateY(-0.3em);
    opacity: 0.5;
    display: inline-block;
}

.button {
    background-color: #50c3af;
    border: none;
    border-radius: 50px;
    padding: 18px 45px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 10%;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.4s;
}

.button[disabled] {
    background-color: #d2d5da;
}

.button[disabled]:hover {
    background-color: #d2d5da;
    transform: none;
    cursor: not-allowed;
}

.small-button {
    border-radius: 50px;
    padding: 14px 17px;
    font-size: 14px;
    margin: 36px 0;
    font-weight: unset;
}

.button:hover {
    background-color: #79b2a8;
    transform: scale(1.1);
}

.dark-grey-section {
    background-color: #eeeeef;
}

.green-section {
    background-color: #50c3af;
    text-align: center;
}

.green-section ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #f5f5f5;
    display: block;
}

.light-grey-section {
    background-color: #f5f5f5;
}

[class*='block-'] {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.block-small {
    max-width: 160px;
}

.block-small.center {
    text-align: center;
}

.block-medium {
    max-width: 250px;
}

.block-large {
    max-width: inherit;
}

.block-large .separator-gradient {
    margin: 3% 0;
}

.block-large .grey-text {
    margin: 0;
}

[class*="-section"] {
    padding: 60px 0;
}

.icon {
    max-height: 40px;
    max-width: 40px;
}

[class*="separator-"] {
    width: 100%;
    display: inline-block;
    height: 2px;
    margin: 20px 0;
}

.separator-gradient {
    background-image: linear-gradient(90deg, #e2e3e4, transparent);
}

.separator-plane {
    background-color: #e2e3e4;
}

.section-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 590px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.logo-container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

[class*='photo-container-'] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.photo-container-small {
    height: 140px;
    width: 180px;
}

.photo-container-medium {
    height: 170px;
    width: 260px;
}

.photo-container-x-medium {
    height: 208px;
    width: 265px;
}

[class*='x-medium'] [class*='grey-text'] {
    margin-top: 0;
}

.blue-link {
    color: #50c3af;
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0;
    display: block;
}

.blue-link:after {
    content: ">";
    margin-left: 5px;
}

[class*='-icon-text']:before {
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 15px;
}

.airplan-icon-text:before {
    background-image: url("../images/icons/airplan.png");
}

.star-icon-text:before {
    background-image: url("../images/icons/star.png");
    margin-right: 10px;
}

.saferound-icon-text:before {
    background-image: url("../images/icons/saferound.png");
}

.pen-icon-text:before {
    background-image: url("../images/icons/pen.png");
}

.green-section .text {
    font-weight: bold;
    font-size: 15px;
    display: block;
    width: 100%;
}

.green-section .section-content {
    display: inline-block;
}

.green-section .separator-plane {
    opacity: 0.1;
}

.company-item {
    display: inline-block;
    margin-right: 60px;
}

.social-item {
    display: inline-block;
    margin-left: 20px;
}

.green-section .sub-section-content {
    width: fit-content;
    margin: auto;
    padding: 20px 0;
}

.copyright {
    font-size: 13px;
    font-weight: normal;
    float: left;
}

.copyright .link {
    color: #40474e;
}

.bold {
    font-weight: bold;
}

.socials {
    float: right;
    margin: 5% 0;
}

.socials ul {
    margin: 0;
}