.header {
    background-image: url("../images/head.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 590px;//todo remove
}

body {
    margin: 0;
}

.logo {
    margin: 65px 343px;
}
